
<!-- header -->
<header class="site-header transparent-sidemenu">
  <nav class="navbar navbar-expand-lg transparent-bg static-nav">
     <div class="container">
        <a class="navbar-brand" >
        <img class="kuoodoLogo" src="../../assets/images/logo.png" alt="logo">
        </a>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#xenav">
           <span> </span>
           <span> </span>
           <span> </span>
        </button>
        <div class="collapse navbar-collapse" id="xenav">
           <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                 <a class="nav-link pagescroll" href="#home">Home</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link pagescroll" href="#our-feature">Features</a>
              </li>
              <!-- <li class="nav-item">
                 <a class="nav-link pagescroll" href="#our-team">Team</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link pagescroll" href="#portfolio-xe">Portfolio</a>
              </li> -->
              <!-- <li class="nav-item">
                 <a class="nav-link pagescroll" href="#our-pricings">Packages</a>
              </li> -->
              <li class="nav-item">
                 <a class="nav-link pagescroll" href="#our-testimonial">Clients</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link pagescroll" href="#our-blog">Blog</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link pagescroll" href="#contactus">contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pagescroll">English <span class="small">&#9660;</span></a>
             </li>
              <li class="nav-item">
                <a class="nav-link pagescroll" >Login</a>
             </li>
           </ul>
        </div>
     </div>

     <!--side menu open button-->
     <a href="javascript:void(0)" class="d-none d-lg-inline-block sidemenu_btn" id="sidemenu_toggle">
         <span></span> <span></span> <span></span>
      </a>
  </nav>

  <!-- side menu -->
  <div class="side-menu">
     <div class="inner-wrapper">
        <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
        <nav class="side-nav">
           <ul class="navbar-nav w-100">
              <li class="nav-item active">
                 <a class="nav-link pagescroll" href="#home">Home</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link pagescroll" href="#our-feature">Features</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link pagescroll" href="#our-team">Team</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link pagescroll" href="#portfolio-xe">Portfolio</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link pagescroll" href="#our-pricings">Packages</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link pagescroll" href="#our-testimonial">Clients</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link pagescroll" href="#our-blog">Blog</a>
              </li>
              <li class="nav-item">
                 <a class="nav-link pagescroll" href="#contactus">contact</a>
              </li>
           </ul>
        </nav>

        <div class="side-footer w-100">
           <ul class="social-icons-simple white top40">
           <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i> </a> </li>
           <li><a href="javascript:void(0)"><i class="fa fa-instagram"></i> </a> </li>
           <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i> </a> </li>
        </ul>
        <p class="whitecolor">&copy; 2018 Kuoodo. Made With Love by me</p>
        </div>
     </div>
  </div>
  <a id="close_side_menu" href="javascript:void(0);"></a>
  <!-- End side menu -->
</header>
<!-- header -->
